
<div id="names">
</div>

<%= form_for @restaurant do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, id: "name_auto_complete", autocomplete: "off" %></br>

  <%= f.label :description %>
  <%= f.text_field :description %></br>

  <%= f.hidden_field :latitude, id: "latitude-field"%></br>

  <%= f.hidden_field :longitude, id: "longitude-field"%></br>

  <div id="fs-image"></div>

  <%= render 'restaurants/diets' %>

</div>
<div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  <%= f.button :Submit, :class => 'btn btn-primary' %>
</div>
<% end %>

